In [108]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_csv("Simple.csv")
df.head()

,Unnamed: 0,CITY_TOWN_NAME,CRASH_HOUR,DRVR_CNTRB_CIRC_CL,RDWY_JNCT_TYPE_DESCR,TRAF_CNTRL_DEVC_TYPE_DESCR,LAT,LON,DRVR_DISTRACTED_CL,CNTY_NAME,SPEED_LIMIT,SURFACE_TP,STRUCT_CND
0,0,CHELMSFORD,13,Diregarded traffic markings,Not at junction,No controls,42.596275,-71.351925,NaN,MIDDLESEX,25.0,Bituminous concrete road,Good
1,1,CHELMSFORD,13,Diregarded traffic markings,Not at junction,No controls,42.596275,-71.351925,NaN,MIDDLESEX,25.0,Bituminous concrete road,Good
2,2,BRAINTREE,16,NaN,Not at junction,No controls,42.174790,-71.012656,NaN,NORFOLK,NaN,Bituminous concrete road,Good
3,3,BRAINTREE,16,NaN,Not at junction,No controls,42.174790,-71.012656,NaN,NORFOLK,NaN,Bituminous concrete road,Good
4,4,METHUEN,3,Tailgating,Five-point or more,Traffic control signal,42.726152,-71.191166,NaN,ESSEX,30.0,Bituminous concrete road,Fair

In [110]:
df = df.dropna()
df

,Unnamed: 0,CITY_TOWN_NAME,CRASH_HOUR,DRVR_CNTRB_CIRC_CL,RDWY_JNCT_TYPE_DESCR,TRAF_CNTRL_DEVC_TYPE_DESCR,LAT,LON,DRVR_DISTRACTED_CL,CNTY_NAME,SPEED_LIMIT,SURFACE_TP,STRUCT_CND
40,40,NATICK,12,Reckless Driving,Not at junction,No controls,42.292346,-71.324477,D1: Passenger,MIDDLESEX,40.0,Bituminous concrete road,Fair
121,121,WRENTHAM,1,Diregarded traffic markings,Four-way intersection,Traffic control signal,42.066879,-71.327851,"D1: Other activity (searching, eating, person...",NORFOLK,25.0,Bituminous concrete road,Fair
122,122,WRENTHAM,1,Diregarded traffic markings,Four-way intersection,Traffic control signal,42.066879,-71.327851,"D1: Other activity (searching, eating, person...",NORFOLK,25.0,Bituminous concrete road,Fair
138,138,METHUEN,19,Distracted/Inattention,Not reported,No controls,42.704422,-71.190970,"D1: Other activity (searching, eating, person...",ESSEX,30.0,Bituminous concrete road,Fair
139,139,METHUEN,19,Distracted/Inattention,Not reported,No controls,42.704422,-71.190970,"D1: Other activity (searching, eating, person...",ESSEX,30.0,Bituminous concrete road,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148925,148925,NORTH READING,8,Distracted/Inattention,Four-way intersection,Unknown,42.565367,-71.108012,"D1: Other activity, electronic device",MIDDLESEX,30.0,Bituminous concrete road,Intolerable
148936,148936,MERRIMAC,12,Distracted/Inattention,Not at junction,No controls,42.831307,-70.997962,"D1: Other activity (searching, eating, person...",ESSEX,35.0,Bituminous concrete road,Fair
148943,148943,NAHANT,14,Diregarded traffic markings,Four-way intersection,Stop signs,42.424720,-70.922163,D1: Passenger,ESSEX,20.0,Bituminous concrete road,Good
148990,148990,WOBURN,18,Reckless Driving,Not at junction,No controls,42.490932,-71.138155,"D1: Other activity (searching, eating, person...",MIDDLESEX,20.0,Bituminous concrete road,Good
148992,148992,METHUEN,21,Speeding,Not at junction,No controls,42.725183,-71.201157,D1: Manually operating an electronic device,ESSEX,20.0,Bituminous concrete road,Fair

In [111]:
step = 0.00001
to_bin = lambda x: np.floor(x / step) * step
df["lat"] = df.LAT.map(to_bin)
df["lon"] = df.LON.map(to_bin)

In [112]:
df = df[["lat", "lon",  "CNTY_NAME", "CITY_TOWN_NAME"]]
df

             lat       lon  CNTY_NAME CITY_TOWN_NAME
40      42.29234 -71.32448  MIDDLESEX         NATICK
121     42.06687 -71.32786    NORFOLK       WRENTHAM
122     42.06687 -71.32786    NORFOLK       WRENTHAM
138     42.70442 -71.19098      ESSEX        METHUEN
139     42.70442 -71.19098      ESSEX        METHUEN
...          ...       ...        ...            ...
148925  42.56536 -71.10802  MIDDLESEX  NORTH READING
148936  42.83130 -70.99797      ESSEX       MERRIMAC
148943  42.42471 -70.92217      ESSEX         NAHANT
148990  42.49093 -71.13816  MIDDLESEX         WOBURN
148992  42.72518 -71.20116      ESSEX        METHUEN

[4754 rows x 4 columns]

In [113]:
df = df.groupby(df.columns.tolist()).size().reset_index().\
    rename(columns={0:'num'})
df

           lat       lon CNTY_NAME CITY_TOWN_NAME  num
0     41.76600 -71.09599   BRISTOL       FREETOWN    2
1     41.76792 -71.09594   BRISTOL       FREETOWN    1
2     41.78574 -71.07866   BRISTOL       FREETOWN    1
3     41.79400 -70.98446  PLYMOUTH      LAKEVILLE    1
4     41.79433 -71.07001   BRISTOL       FREETOWN    1
...        ...       ...       ...            ...  ...
3182  42.86965 -70.88288     ESSEX      SALISBURY    2
3183  42.86965 -70.88287     ESSEX      SALISBURY    1
3184  42.87208 -70.93881     ESSEX       AMESBURY    1
3185  42.87314 -70.86996     ESSEX      SALISBURY    3
3186  42.88013 -70.93002     ESSEX       AMESBURY    1

[3187 rows x 5 columns]

In [114]:
df.to_csv("SimpleDataSample.csv")

In [129]:

df

,CITY_TOWN_NAME,CRASH_HOUR,DRVR_CNTRB_CIRC_CL,RDWY_JNCT_TYPE_DESCR,TRAF_CNTRL_DEVC_TYPE_DESCR,LAT,LON,DRVR_DISTRACTED_CL,CNTY_NAME,SPEED_LIMIT,SURFACE_TP,STRUCT_CND
0,NATICK,12,Reckless Driving,Not at junction,No controls,42.292346,-71.324477,D1: Passenger,MIDDLESEX,40.0,Bituminous concrete road,Fair
1,WRENTHAM,1,Diregarded traffic markings,Four-way intersection,Traffic control signal,42.066879,-71.327851,"D1: Other activity (searching, eating, person...",NORFOLK,25.0,Bituminous concrete road,Fair
2,WRENTHAM,1,Diregarded traffic markings,Four-way intersection,Traffic control signal,42.066879,-71.327851,"D1: Other activity (searching, eating, person...",NORFOLK,25.0,Bituminous concrete road,Fair
3,METHUEN,19,Distracted/Inattention,Not reported,No controls,42.704422,-71.190970,"D1: Other activity (searching, eating, person...",ESSEX,30.0,Bituminous concrete road,Fair
4,METHUEN,19,Distracted/Inattention,Not reported,No controls,42.704422,-71.190970,"D1: Other activity (searching, eating, person...",ESSEX,30.0,Bituminous concrete road,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...
4749,NORTH READING,8,Distracted/Inattention,Four-way intersection,Unknown,42.565367,-71.108012,"D1: Other activity, electronic device",MIDDLESEX,30.0,Bituminous concrete road,Intolerable
4750,MERRIMAC,12,Distracted/Inattention,Not at junction,No controls,42.831307,-70.997962,"D1: Other activity (searching, eating, person...",ESSEX,35.0,Bituminous concrete road,Fair
4751,NAHANT,14,Diregarded traffic markings,Four-way intersection,Stop signs,42.424720,-70.922163,D1: Passenger,ESSEX,20.0,Bituminous concrete road,Good
4752,WOBURN,18,Reckless Driving,Not at junction,No controls,42.490932,-71.138155,"D1: Other activity (searching, eating, person...",MIDDLESEX,20.0,Bituminous concrete road,Good
4753,METHUEN,21,Speeding,Not at junction,No controls,42.725183,-71.201157,D1: Manually operating an electronic device,ESSEX,20.0,Bituminous concrete road,Fair

In [131]:
time = df[["CRASH_HOUR"]]
time

      CRASH_HOUR
0             12
1              1
2              1
3             19
4             19
...          ...
4749           8
4750          12
4751          14
4752          18
4753          21

[4754 rows x 1 columns]

In [132]:
time = time.groupby(time.columns.tolist()).size().reset_index().\
    rename(columns={0:'num'})
time

    CRASH_HOUR  num
0            0  100
1            1  105
2            2   78
3            3   43
4            4   42
5            5   42
6            6  105
7            7  188
8            8  214
9            9  192
10          10  191
11          11  227
12          12  276
13          13  278
14          14  346
15          15  387
16          16  348
17          17  437
18          18  312
19          19  214
20          20  164
21          21  173
22          22  151
23          23  141

In [133]:
time.to_csv("time.csv")